#navigation {
	padding-top: 40px;
	padding-bottom: 40px;
	h1 {
		font-size: 26px;
	}
	.navbar-nav > li > a {
		color: $primary-color;
		text-transform: uppercase;
	}
}
#navigation .navbar-nav > li > a:hover {
	background-color: white;
}
#navigation .navbar-nav > li > a:after {
	 content: "";
    display: block;
    height: 2px;
    width: 100%;
    transform: scalex(0);
    margin-top: 10px;
    background-color: $primary-color;
    transition: 0.4s all;
}
#navigation .navbar-nav > li > a:hover:after {
	transition: 0.4s all;
    transform: scalex(1);
}

@media (max-width: 768px) {
	.col-sm-3 {
		text-align: center;
	}
}